#contents {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  /* flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

#home,
#courses,
#description,
#testimonials {
  width: 100%;
  height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#home {
  background-color: turquoise;
}

#description {
  background-color: thistle;
}

#courses {
  background-color: lightgoldenrodyellow;
}

.js-image {
  background-image: url("../media/js_arch.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 100%;
}

.section-title > h1 {
  font-size: 48px;
  padding: 10px 0;
}

.section-title > h4 {
  font-size: 36px;
  padding: 10px 0;
}

.btn-section {
  margin-top: 15px;
}

.btn {
  display: inline-block;
  padding: 6px;
  font-size: 18px;
  margin: 5px 0;
  border: none;
  border-radius: 15px;
  background-color: yellow;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: none;
}

select {
  padding: 5px;
  font-size: 18px;
  color: navy;
  background-color: white;
}

select:hover,
select:focus {
  outline: none;
}

.cards {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* margin: 0 10px; */
}

.card {
  width: 330px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover,
.card:focus {
  box-shadow: darksalmon;
}

picture {
  align-self: center;
  flex: 30%;
  margin-bottom: 15px;
}

.card > picture > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.story {
  flex: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.headline {
  font-family: cursive;
  font-size: 18px;
  margin-bottom: 15px;
  color: darkmagenta;
}

.brief-span {
  font-weight: bold;
  color: gray;
}

.profile {
  font-family: sans-serif;
  font-weight: bold;
}

.course_title {
  align-self: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: navy;
}

span#profile-course {
  font-weight: lighter;
  color: darkgray;
}

#description > ul > li {
  text-align: left;
  list-style-type: none;
  margin: 10px;
  font-size: 25px;
  padding: 3px 5px;
}

#description > ul > li:nth-child(odd) {
  background-color: lightgray;
}
