.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 10px; */
  /* color: yellow; */
  font-size: 20px;
}

.logo {
  margin-left: 20px;
}

.logo > picture > img {
  width: 100px;
  height: 60px;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  text-transform: uppercase;
}

.navbar > li {
  font-size: 18px;
  padding: 5px 5px;
  margin: 0 10px;
  font-weight: lighter;
}

.user-in > p {
  margin-right: 20px;
}
.user-in > p > i {
  /* padding: 5px 10px; */
  font-size: 25px;
  color: yellow;
}

.active {
  color: black;
  background-color: whitesmoke;
}
.active:hover,
.navbar > li:hover {
  color: yellow;
  background-color: black;
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
